@import 'tailwindcss';

@import './fonts.css';
@import './theme.css';

:root {
	--font-poppins: 'Poppins', sans-serif;
	--font-source-serif-4: 'Source_Serif_4', serif;
}

@theme {
	--font-sans: var(--font-poppins);
	--font-serif: var(--font-source-serif-4);
}

@layer base {
	* {
		border-color: var(--color-border);
		outline-color: var(--color-ring);
	}
	body {
		background-color: var(--color-background);
		color: var(--color-foreground);
	}

	a {
		color: var(--color-link);
		text-decoration: none;
	}

	a:hover,
	a:focus {
		color: var(--color-link-hover);
		text-decoration: underline;
	}

	a:active {
		color: var(--color-link-active);
	}

	button {
		background-color: var(--color-button);
		color: var(--color-button-text);
		padding: 0.5rem 1.5rem;
		border-radius: 9999px;
		border: none;
		cursor: pointer;
	}

	button:hover,
	button:focus {
		background-color: var(--color-button-hover);
	}

	button:active {
		background-color: var(--color-button-active);
	}

	input,
	select {
		background-color: var(--color-input-background);
		color: var(--color-input-text);
		border-color: var(--color-input-border);
	}
}
